<h1>メインホールです</h1>

<h2>URLをコピー</h2>
<%= link_to 'URL表示ルーム', gotten_url_path, id: 'hrefGetURL' %><br>
<input type="button" value="URLをコピー" id="btnGetURL"><br>

<h2>パスワードの部屋</h2>
<%= link_to '秘密の部屋作成フォーム', new_secret_room_path %><br>

<% @secret_rooms.each do |r| %>
  <%= link_to '秘密の部屋に入場', secret_room_path(r.id) %><br>
<% end %>

<h2>ボタン操作の部屋</h2>
<%= link_to '音が鳴る機能がある部屋', sounds_path %><br>

<%= link_to 'タイマーの部屋', timer_path %><br>