<%= form_with(url: secret_room_password_check_path(@secret_room.id), method: "post", local: true) do |form| %>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <div>
    <%= form.label :password, "パスワード" %>
    <%= form.password_field :password %>
  </div>
  <%= form.submit "送信" %>
<% end %>